@charset "utf-8";
/* CSS Document */

/*test.html*/

body {
  font-size:36px;
  font-family:"微軟正黑體";
  margin:0px;
  /*background-color:#666;*/

}
.mobile-wrap {
  margin: auto;
  width: 1007px;
  height: 1500px;
  /*overflow: hidden;*/
  position: relative;
  /*box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);立體陰影*/
}
.mobile {
  z-index: 99;
  color: #fff;
  height: 100%;
  padding: 15px;
  position: relative
}

.mobile .header {
  clear: both;
  overflow: hidden;
  padding-top: 15px;
  position:fixed;
  background-color:#FFF;
  margin-top:-16px;
}

.mobile .header>span {
  font-size: 24px;
  min-width: 24px
}

.mobile .header>.title {
  font-size: 16px;
  line-height: 24px;
  margin-left: 15px
}

.mobile .header .pull-left {
  float: left;
  display:inline;
  height:auto;
  font-family:"微軟正黑體";
}

.mobile .header .pull-right {
  float: right
}
.mobile .header .ion-ios-search{
  z-index:999;
  position:relative;
}

.mobile .header .ion-ios-arrow-back {
  min-width: 25px
}

.mobile .header .ion-ios-navicon>i {
  height: 1px;
  width: 20px;
  margin-top: 5px;
  background: #fff;
  position: relative;
  display: inline-block
}

.sidebar .sidebar-content,
.sidebar .sidebar-overlay {
  top: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  transition: all .3s ease-in-out 0s
}

.sidebar .sidebar-overlay {
  right: 0;
  opacity: 0;
  width: 100%;
  z-index: 999;
  transform: scale(0);
  background:rgba(0, 0, 0, .4);           /*主畫面背景顏色*/
}

.sidebar .sidebar-content {
  width: 80%;
  color: #333;
  padding: 15px;
  z-index: 9999;
  background: #fff;
  transform: translateX(-100%)
}

.sidebar.active .sidebar-content {
  transform: translateX(0)
}

.sidebar.active .sidebar-overlay {
  opacity: 1;                              /*主畫面菜單出現時背景的透明度*/
  transform: scale(1)
}

.sidebar .sidebar-content .top-head .name {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 5px
}

.sidebar .sidebar-content .top-head .email {
  font-size: 13px;
  margin-bottom: 50px
}

.sidebar .sidebar-content .nav-left>a {
  color: #333;
  display: block;
  padding: 10px 0;
  line-height: 24px;
  vertical-align: top;
  text-decoration: none;
  /*margin-left:-39px;*/
  width:500px;
  height:48px;
}

.nav-left{
  padding-left: 20px;
  line-height: 74px;
}

.sidebar .sidebar-content .nav-left>a>span {
  color: #aaa;
  font-size: 24px;
  min-width: 40px;
  display: inline-block
}

#menu_t{
  padding-top:5px;
  padding-left:20px;
}

#m_close{
  height:45px;/*30*/
}

/*test.html*/

.ver{
  float:left;
  display:inline;
  height:auto;
  font-family:"微軟正黑體";
	}
#container{
  padding-left: 30px;
  font-size: 36px;
  color: #000;
  font-family: "微軟正黑體";
	}
#a_1{
  padding-top:30px;
  height:97px;
  width:956px;
  background-color:#FFF;
  position:fixed;
	}
#a_11{
  padding-right:30px;
	}
#a_12{
  padding-top:8px;
	}
#a_13{
  width:155px;
	}
#a_end{
  width:959px;
  height:173px;
  background-color:#818183;
  margin-left:-45px;
  color:#FFF;
  padding-left:48px;
  padding-top:23px;
  position:fixed;
	}
a{
  text-decoration:underline;
  cursor:pointer;
	}
#menu{
  width:81px;
	}
#logo{
  width:465px;
	}
#i_1{
  padding-top:136px;
  padding-left:100px;
  height:182px;
	}
#imen{
  width:150px;
	}
#i_12{
  padding-left:40px;
	}
#i_121{
  height:63px;
  padding-top:20px;
	}
#i_2{
  height:96px;
	}
#i_21{
  width:199px;
  height:60px;
  background-color:#ff9933;
  color:#FFF;
  margin-left:100px;
  padding-top:8px;
  text-align:center;
  cursor:pointer;
    }
#i_22{
  width:199px;
  height:60px;
  background-color:#666699;
  color:#FFF;
  padding-top:8px;
  text-align:center;
  cursor:pointer;
    }
#i_31{
  width:99px;
  height:60px;
  background-color:#BCBDBF;
  color:#FFF;
  padding-top:8px;
  margin-left:100px;
  text-align:center;
  cursor:pointer;
	}
#i_32,#i_33{
  width:99px;
  height:60px;
  background-color:#BCBDBF;
  color:#FFF;
  padding-top:8px;
  margin-left:20px;
  text-align:center;
  cursor:pointer;
	}
#i_4{
  padding-left:54px;
	}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  margin:30px;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
#i_0,#p4_1{
  padding-top:136px;
}
#p3_1{
  padding-top:22px;
  padding-left:100px;
  height:165px;
	}
#p4_11{
  width:273px;
  height:60px;
  background-color:#BCBDBF;
  color:#FFF;
  margin-left:100px;
  padding-top:8px;
  text-align:center;
  cursor:pointer;
	}
#p4_12,#p5_13{
  width:273px;
  height:60px;
  background-color:#BCBDBF;
  color:#FFF;
  margin-left:100px;
  padding-top:8px;
  text-align:center;
  margin-top:30px;
  cursor:pointer;
	}
#p6_11{
	padding-left:10px;
	font-size:32px;
	color:#FDC016;
	}
#p6_12{
	padding-left:10px;
	padding-top:20px;
	}
#p612table a{
	color:#F00;
	font-weight:bold;
	text-decoration:none;
	}
#p612table1{
	width:470px;
	}
#p612table2{
	width:250px;
	}
#p612table3{
	width:110px;
	}
#date61,#date62,#time61,#time62{
	width:600px;
	height:50px;
	font-size:40px;
	padding-top:5px;
	padding-bottom:5px;
	border-radius:15px;
	}
#p6_1312,#p6_1332{
	padding-left:107px;
	}
#p6_1311,#p6_1312,#p6_1331,#p6_1332{
	padding-top:20px;
	}
#p6_134{
	margin-top:20px;
	width:120px;
	height:50px;
	background-color:#BCBDBF;
	text-align:center;
	color:#FFF;
	margin-left:320px;
	cursor:pointer;
	}
#p6_131,#p6_133{
	height:168px;
	}
#talk_3{
	width:850px;
	height:600px;
	/*border:1px solid #999;*/
	border-radius:10px;
	margin-left:40px;
	background-color:#CCC;
	padding-top:20px;
	padding-top:136px;
	}
#talk_31{
	width:730px;
	border-radius:50px;
	background-color:#F93;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:15px;
	margin-left:12px;
	margin-top:20px;
	}
#talk_32{
	width:550px;
	border-radius:50px;
	background-color:#FFF;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:15px;
	margin-left:270px;
	}
#talk_4{
	height:90px;
	margin-left:110px;
	margin-top:20px;
	}
#talk4_1{
	width:660px;
	height:60px;
	border-radius:50px;
	border:1px solid #CCC;
	}
#tale4_11{
	width:600px;
	}
#pp{
	padding-top:10px;
	width:40px;
	}
#send_m{
	padding-top:10px;
	width:40px;
	margin-left:20px;
	}
#t_m{
	border:0;
	width:580px;
	height:10px;
	border-radius:50px;
	font-size:36px;
	padding-left:20px;
	}
#p8_picture1{
	margin-top:20px;
	width:500px;
	}
#p8_3{
	height:80px;
	padding-top:20px;
	}
#p8_4{
	height:70px;
	}
#p83_input{
	font-size:36px;
	width:418px;
	}
#p8_32{
	width:159px;
	height:60px;
	background-color:#BCBDBF;
	color:#FFF;
	margin-left:20px;
	padding-top:8px;
	text-align:center;
	cursor:pointer;
    }
#p841_input{
	width:220px;
	font-size:36px;
	border-radius:5px;
	border-width:thin;
	margin-top:4px;
     }
#p841_place{
	width:700px;
	font-size:36px;
	border-radius:5px;
	border-width:thin;
	margin-top:4px;	
	}
#p841_select{
	font-size:36px;
	border-radius:5px;
	border-width:thin;
	margin-top:4px;	
    }
#p841_skill{
	font-size:36px;
	border-radius:5px;
	border-width:thin;
	width:733px;
	height:150px;
	margin-top:4px;	
	}
#p8_5,#p8_6{
	height:180px;
	}
#p841_introduction{
	font-size:36px;
	border-radius:5px;
	border-width:thin;
	width:662px;
	height:180px;
	margin-top:4px;
	}
#p8_7{
	width:159px;
	height:60px;
	background-color:#BCBDBF;
	color:#FFF;
	margin-left:20px;
	padding-top:8px;
	text-align:center;
	cursor:pointer;
	margin-top:40px;
	margin-left:355px;
	}